<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../../../public/css/ch-ui.admin.css">
	<link rel="stylesheet" href="../../../public/css/font-awesome.min.css">
</head>
<body>
    <!--麵包屑導航 開始-->
    <div class="crumb_warp">
        <!--<i class="fa fa-bell"></i> 歡迎使用登入網站後台，建站的首選工具。-->
        <i class="fa fa-home"></i> <a href="#">首頁</a> &raquo; <a href="#">商品管理</a> &raquo; 添加商品
    </div>
    <!--麵包屑導航 結束-->

	<!--結果集標題與導航元件 開始-->
	<div class="result_wrap">
        <div class="result_title">
            <h3>快速操作</h3>
        </div>
        <div class="result_content">
            <div class="short_wrap">
                <a href="#"><i class="fa fa-plus"></i>新增文章</a>
                <a href="#"><i class="fa fa-recycle"></i>批次删除</a>
                <a href="#"><i class="fa fa-refresh"></i>更新排序</a>
            </div>
        </div>
    </div>
    <!--結果集標題與導航元件 結束-->
    
    <div class="result_wrap">
        <form action="#" method="post">
            <table class="add_tab">
                <tbody>
                    <tr>
                        <th width="120"><i class="require">*</i>分類：</th>
                        <td>
                            <select name="">
                                <option value="">==請選擇==</option>
                                <option value="19">精品界面</option>
                                <option value="20">推薦界面</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require">*</i>標題：</th>
                        <td>
                            <input type="text" class="lg" name="">
                            <p>標題可以寫30个字</p>
                        </td>
                    </tr>
                    <tr>
                        <th>作者：</th>
                        <td>
                            <input type="text" name="">
                            <span><i class="fa fa-exclamation-circle yellow"></i>這裡是預設長度</span>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require">*</i>價格：</th>
                        <td>
                            <input type="text" class="sm" name="">元
                            <span><i class="fa fa-exclamation-circle yellow"></i>這裡是短文本長度</span>
                        </td>
                    </tr>
                    <tr>
                        <th><i class="require">*</i>縮略圖：</th>
                        <td><input type="file" name=""></td>
                    </tr>
                    <tr>
                        <th>單選框：</th>
                        <td>
                            <label for=""><input type="radio" name="">單選按鈕一</label>
                            <label for=""><input type="radio" name="">單選按鈕二</label>
                        </td>
                    </tr>
                    <tr>
                        <th>多選框：</th>
                        <td>
                            <label for=""><input type="checkbox" name="">多選框一</label>
                            <label for=""><input type="checkbox" name="">多選框二</label>
                        </td>
                    </tr>
                    <tr>
                        <th>描述：</th>
                        <td>
                            <textarea name="discription"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>詳細内容：</th>
                        <td>
                            <textarea class="lg" name="content"></textarea>
                            <p>標題可以寫30個字</p>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="提交">
                            <input type="button" class="back" onclick="history.go(-1)" value="返回">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

</body>
</html>